* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    font-family: Alegreya;
}

ul,
li {
    list-style: none;
    display: inline;
}

input {
    outline: none !important;
}

ion-icon {
    display: inline-block;
    color: whitesmoke;
    font-size: 32px;
}

h2 {
    font-family: inherit;
}
h3 {
    font-family: inherit;
    display: inline;
}

h4 {
    font-family: inherit;
}
