* {
    margin: 0;
    padding: 0;
}



ul,
li {
    list-style: none;
    display: inline;
}

input {
    outline: none !important;
}

ion-icon {
    display: inline-block;
    color: whitesmoke;
    font-size: 32px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 8fr;
}

.header {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: black;
    color: whitesmoke;
    box-shadow: 2px 2px 6px 4px lightgray;
    padding: 15px;
}

.top {
    grid-row: 1 / 2;
    width: 100%;
    display: grid;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}

.top h3 {
    font-family: monospace;
    font-size: 25px;
    font-weight: 400;
}

.bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 10fr 5fr;
}

.userchunk {
    padding-left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 6fr;
    text-align: left;
    font-size: 20px;
    align-items: center;
}

.bottom label {
    justify-self: right;
    align-self: center;
    padding: 10px;
}

#search {
    align-self: center;
    height: 35px;
    background-color: lightgray;
    border-radius: 20px;
    border: none;
    padding-right: 30%;
}

#search:hover {
    box-shadow: 2px 2px 2px 1px darkslategrey;
    transition: all .5s ease;
}

#search:focus {
    box-shadow: 2px 2px 2px 1px darkslategrey;
    background-color: aliceblue;
    transition: all .5s ease;
}

.dashboard {
    box-sizing: border-box;
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgba(0, 0, 0, .9);
    font-size: 32px;
    box-shadow: 5px 0 5px -6px #888;    
}

.dashboard ul {
    position: sticky;
    padding-top: 125px;
    display: grid;
    grid-template-rows: 2fr repeat(6, 1fr);
    gap: 50px;
    justify-content: center;
}

.dashboard h3 {
    display: inline-block;
}

.dashboard ul li {
    display: inline;
    font-family: monospace;
    color: whitesmoke;
}

.dashboard ul li p {
    display: inline;
}

.dashboard ul li:first-child {
    border-bottom: 1px solid white;
}

.dashboard ul li p:hover {
    color: gray;
    cursor: pointer;
    transition: all .5 ease;
}

.content {
    grid-area: 2 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 6fr;
    color: black;
    padding: 5px;
}
.content h3 {
    display: inline;
}

.content #comm {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-self: flex-end;
    padding-bottom: 15px;
}

.content #ann {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    align-self: flex-end;
    padding-bottom: 15px;
}

.posts {
    background-color: whitesmoke;
    grid-row: 2 / span all;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-height: 500px;
    overflow: scroll;
    padding: 10px;
}

.post {
    font-family: monospace;
    box-sizing: border-box;
    color: black;
    border: 2px solid #888;
    border-radius: 5px;
    height: 200px;
    padding: 15px;
}

.post h4 {
    text-align: center;
}

.post p {
    text-align: left;
}

.post ion-icon {
    color: black;
}

.modchat {
    grid-area: 3 / 2 / 4 / 3;
    color: black;
    background-color: white;
}